:root {
    --color-white90: #FFF;
    --color-white80: #F7F7F7;
    --color-grey40: #A3A6B8;
    --color-black90: #000;
    --color-black80: #222222;
    --color-black70: #383838;
    --color-purple: #3D55E7;
    --font: 'Exo 2', sans-serif;
    --title-nav-mobile: bold 22px/26px var(--font);
    --subttitle-nav-mobile-description: 14px/16px var(--font);
    --title-nav-desktop: bold 24px/28px var(--font);
    --subttitle-nav-desktop-description: bold 20px/24px var(--font);
    --title-content-mobile: bold 27px/33px var(--font);
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

section {
    gap: 10px;
}

.title-nav {
    font: var(--title-nav-mobile);
}

.nav {
    text-align: center;
    background: var(--color-black80);
    color: var(--color-white90);
    padding-block: 43px;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

.content {
    margin-block-start: 141px;
    background: var(--color-white90);
}

.menu-nav {
    margin-block-start: 12px;
    /* margin-block: 50px; */
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 27px;
}

.list li a {
    font: var(--subttitle-nav-mobile-description);
    text-decoration: none;
    color: var(--color-white90);
}

.list li p {
    display: none;
}

.btn-nav {
    display: none;
}

.wrapper {
    margin-inline: 48px;
    margin-block: 37px;
}

.title-content {
    font: var(--title-content-mobile);
    color: var(--color-purple);
    text-align: center;
    margin-block-end: 26px;
}

.figure-img {
    text-align: center;
    margin-block-end: 84px;
}

.figure-img h2 {
    margin-block-start: 27px;
}

.input-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-block: 40px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 18px;
    align-items: center;
}

.input label {
    font-weight: bold;
}

.input input {
    border: 1px solid var(--color-grey40);
    background: var(--color-white80);
    height: 26px;
}

.btn-calculate {
    background: var(--color-black70);
    color: var(--color-white90);
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: auto;
    margin-block-end: 15px;
    cursor: pointer;
}

@media screen and (min-width:414px) {}

@media screen and (min-width:760px) {
    .main {
        display: grid;
        grid-template-columns: 300px auto;
    }
    section {
        gap: 10px;
        height: 100vh;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        padding-block: 0px;
        position: static;
    }
    .title-nav {
        display: none;
    }
    .menu-nav {
        margin-block: 50px;
    }
    .list {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 35px;
        /* margin-block-start: 100px;
        margin-block-end: 71px; */
        margin-inline: 40px;
    }
    .list li a {
        font: var(--title-nav-desktop);
        color: var(--color-purple);
    }
    .list li p {
        font: var(--subttitle-nav-desktop-description);
        display: block;
        margin-block: 12px;
        color: var(--color-white90);
    }
    .btn-nav {
        background: var(--color-black70);
        color: var(--color-white90);
        font: var(--subttitle-nav-desktop-description);
        display: inline-block;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding-block: 20px;
        padding-inline: 10px;
        margin-inline: 40px;
        margin-block-end: 50px;
    }
    .content {
        overflow-y: auto;
        margin-block-start: 0px;
    }
}

@media screen and (min-width:960px) {}

@media screen and (min-width:1024px) {
    .main {
        display: grid;
        grid-template-columns: 400px auto;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .list {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 35px;
    }
    .btn-nav {
        background: var(--color-black70);
        display: inline-block;
        padding-block: 20px;
        padding-inline: 10px;
    }
    .title-content {
        text-align: left;
        color: var(--color-black90);
        margin-block-start: 124px;
        margin-block-end: 107px;
    }
    .figure {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .input input {
        margin-inline-start: 33px;
    }
}